---
---

$header-bg-color: #ff6b37 !default;
$header-bg-color-secondary: #5f5278 !default;

$section-headings-color: #ff6b37 !default;

@import "{{ site.theme }}";

.main-content {
  
    @include large {
      max-width: 64rem;
      padding: 0px;
      font-size: 1.1rem;
    }
  
    @include medium {
      padding: 0px;
      font-size: 1.1rem;
    }
  
    @include small {
      padding: 0px;
      font-size: 1rem;
    }
    
}